
h1{
    background: linear-gradient(to right, #000000, #FFFFFF); /* Gradiente de cor */
    background-clip: text; /* Aplica o gradiente ao texto */
    color: #fff; 
}



.titleBlueLine::before{
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #06E5F1;
    color: #06E5F1;
    position: relative;
    top: -25px;
}