@font-face {
    font-family: ClashDisplay-Regular;
    src: url('../../fonts/ClashDisplay_Complete/ClashDisplay-Regular.ttf');
}

@font-face {
    font-family: ClashDisplay-Bold;
    src: url('../../fonts/ClashDisplay_Complete/ClashDisplay-Bold.ttf');
}

h1{
    background: linear-gradient(to right, #000000, #FFFFFF); /* Gradiente de cor */
    background-clip: text; /* Aplica o gradiente ao texto */
    color: transparent; 
}