.cardFront {
    position: relative;
    border: 0px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    /* just to show box-shadow still works fine */
  }
  

.cardFront img{
    z-index:2;
    position: relative;
    border-radius: 16px;
}

.textCardTeam div div div::after {
    position: absolute;
    top: -6px; bottom: -6px;
    left: -6px; right: -6px;
    background: linear-gradient(to bottom right,rgba(6, 229, 241, 0.68), rgba(6, 229, 241, 0.212), black, black);
    content: '';
    z-index: -1;
    border-radius: 16px;
}
.textCardTeam div div{
    z-index:1;
    position: relative;
    border-radius: 16px;
}

.textCardTeam div div p{
    border-radius: 16px;
    background-color: black;
}

.textBodyGradient{
    background: linear-gradient(to right,#919191,#FFFFFF); /* Gradiente de cor */
    background-clip: text; /* Aplica o gradiente ao texto */
    color: transparent; 
}