h1{
  color: #dadada; /*Titulos de todo o site*/
}
.divImg{
    box-shadow: 80px -40px 2000px #04f2ff69;

}

/* Adiciona um estilo inicial para os paths */
path, line {
    stroke: #494949; /* Cor do contorno */
    stroke-width: 1.5; /* Tamanho da linha */
    fill: none; /* Preenchimento vazio, para que o contorno seja visível */
  }

  .textGradient{
    background-image: linear-gradient(to right, #9b9b9b, #FFFFFF);
  
    /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
  
    /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
    -webkit-text-fill-color: transparent;
  
    /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
    color: white!important;
  }